*,
*:before,
*:after {
  box-sizing: border-box;
}

@font-face {
  font-family: "SoukouMincho";
  /* font-family: "SoukouMincho"; */
  /* src: url(../font/SoukouMincho.ttf); */
  src: url(../font/SourceHanSerif-Regular.otf);
  /* src: url(../font/Togalite-Heavy.otf); */
}

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
    "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic,
    "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: .8px;
  word-break: break-all;
  color: #333;
}

a {
  text-decoration: none;
  /* color: #1ca9e3; */
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

ul,
li {
  list-style: none;
  display: inline;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

.hover-action {
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
}

.hover-action:hover {
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: translate(0, -4px);
  transform: translate(0, -4px);
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .12);
}

.caption {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  color: #fff;
  padding: 10px;
  width: 130px;
  height: 130px;
  text-align: center;
}

.skill-content {
  position: relative;
  background: #ddd;
  margin: 20px auto;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

/*--------------------------------
 文字
---------------------------------*/
.heading-primary {
  font-family: "Open sans", sans-serif;
  font-size: 40px;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 15px;
  letter-spacing: .05em;
  text-shadow: 1px 2px 3px #808080;
  user-select: none;
}

.bold-text {
  font-weight: bold;
}

.section-heading {
  margin-bottom: 20px;
  text-align: center;
}

.column-list-item {
  display: list-item;
}

.description-header {
  margin: 10px;
  text-align: center;
}

.discription-headding {
  /* font-family: "Open sans", sans-serif; */
  /* font-size: 40px; */
  font-weight: normal;
  line-height: 1;
  margin-bottom: 15px;
  letter-spacing: .05em;
  margin: 20px;
  padding: 5px;
}

.section-lead {
  margin-bottom: 30px;
  text-align: center;
  user-select: none;
}

.text-bold {
  font-weight: bold;
}

/*--------------------------------
 レイアウト
---------------------------------*/
.wrapper {
  display: none;
  padding-top: 0;
  align-items: center;
}

.section {
  padding: 120px 0;
}

.section:nth-of-type(odd) {
  background-color: #f7f7f7;
}

.inner {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 40px;
}

/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  /* text-align: center; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-image: url(https://i.imgur.com/GCJRhiA.png); */
  /* background-color: black; */
  /* padding-top: 40px; */
}

.parallax-bg {
  background: url('../img/feature/IMG_20210707_055641.jpg') no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.mask-blackmesh {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, .1);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, .1) 50%, transparent 50%), linear-gradient(rgba(0, 0, 0, .1) 50%, transparent 50%);
  background-size: 3px 3px;
}

.mask {
  content: "";
  position: absolute;
  background-attachment: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#datetime {
  display: inline-block;
  position: fixed;
  top: 12%;
  right: 7%;
  transform:
    rotateY(20deg) rotate(9deg);
  font-weight: bold;
  color: #f7f7f7;
  font-size: 20px;
}

.logo {
  display: none;
  position: absolute;
  margin-bottom: auto;
  margin-top: auto;
  padding: 0 20px;
  text-align: center;
  /* background-color: rgba(255, 0, 0, 0.25); */
  margin-right: auto;
  margin-left: auto;
}

.logo-title {
  text-align: center;
  color: #F0FFF0;
  font-family: "SoukouMincho", "Open sans", sans-serif;
  font-size: 150px;
  line-height: 1;
  /* letter-spacing: .1em; */
  text-shadow: 4px 5px 6px #333;
  user-select: none;
}

.title-nao {
  color: #C2EEFF;
}

.logo-subtitle {
  text-align: center;
  color: #fff;
  font-size: 40px;
  margin-top: 5px;
  text-align: center;
  letter-spacing: .2em;
  text-shadow: 4px 5px 6px #808080;
  user-select: none;
}

/* .logo-carsour {
  -webkit-animation: blink 1.5s ease-in-out infinite alternate;
  -moz-animation: blink 1.5s ease-in-out infinite alternate;
  animation: blink 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
} */

.logo-gnav-container {
  display: flex;
}

/*--------------------------------
 グローバルナビ
---------------------------------*/
.gnav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: rgba(20, 0, 107, 0);
  /* background: crimson; */
  /* -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2); */
}

.gnav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gnav-item {
  font-family: "Open sans", sans-serif;
  font-size: 18px;
  padding: 0 24px;
  letter-spacing: .05em;
}

.gnav-item :hover {
  color: aqua;
}

.gnav-link {
  position: relative;
  display: inline-block;
  padding: 20px 0;
  -webkit-transition: .3s;
  transition: .3s;
  color: #ddd;
}

.gnav-link:hover {
  opacity: 1;
}

.gnav-link:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  content: "";
  transition: .3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: aqua;
}

.gnav-link:hover:after {
  width: 100%;
}

/* iOS対策 */
.ios .gnav-link:after,
.ios .gnav-link:hover:after {
  display: none;
}

/*--------------------------------
 Works
---------------------------------*/
.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -40px;
}

.works-item {
  flex: 0 0 32.31552%;
  margin-right: 1.52671%;
  margin-bottom: 40px;
  height: fit-content;
  width: fit-content;
  align-items: center;
}

.works-url-link {
  display: inline-block;
  text-decoration: none;
  color: #ddd;
  width: 40px;
  height: 40px;
  background: #1d1d1d;
  /* line-height: 120px; */
  border-radius: 50%;
  border: solid 2px #13c3ac;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  transition: .4s;
}

.works-url-link:hover {
  background: #13c3ac;
}

.works-item:nth-of-type(3n) {
  margin-right: 0;
}

.works-body {
  text-align: center;
}

.works-title {
  font-size: 12px;
  font-weight: bold;
  margin-top: 8px;
  display: block;
  text-align: center;
}

.works-text {
  font-size: 10px;
  display: block;
  text-align: center;
}

.works-url {
  font-size: 10px;
  display: block;
  text-align: center;
}

.works-image-wrapper {
  display: block;
  align-items: center;
  align-content: center;
  max-width: fit-content;
}

.works-image {
  /* object-fit: cover; */
  max-height: 400px;
}

.works-link {
  object-fit: cover;
  display: block;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.works-image.fadein {
  -webkit-transition: 1.5s;
  transition: 1.5s;
  opacity: 0;
}

.works-image.fadein.lazyloaded {
  opacity: 1;
}

/*--------------------------------
 Feature
---------------------------------*/
.feature-item {
  display: flex;
  flex-wrap: wrap;
}

.feature-image-wrapper {
  flex: 0 0 45%;
  margin-right: 40px;
}

.feature-body {
  flex: 1;
}

.feature-body p:not(:last-child) {
  margin-bottom: 20px;
}

/*--------------------------------
 About
---------------------------------*/
.about-section .inner {
  max-width: 1000px;
}

.heading-primary img {
  height: 35px;
  width: 35px;
}

.about-name {
  text-align: center;
}

.about-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-image-wrapper {
  flex: 0 0 220px;
  margin-right: 20px;
  margin-left: auto;
  user-select: none;
}

.about-image {
  /* display: none; */
  border-radius: 50%;
  box-shadow: 0 0 25px 0 #d9d9d9;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  overflow: hidden;
  transition: 0.3s;
  width: 150px;
  height: 150px;
}

.about-image-layout {
  display: block;
}

.about-image-content {
  display: block;
  border: solid 1px #ddd;
  height: 390px;
  width: 240px;
  padding: 15px;
  border-radius: 5px;
  float: right;
}

.about-body {
  flex: 1;
  display: block;
  border-radius: 5px;
  /* background-color:#ddd; */
  border: solid 1px #d9d9d9;
  padding: 10px;
  /* box-shadow: 0 0 10px rgb(0 0 0 / 20%); */
  /* margin-right: 10px;
  margin-bottom: 10px; */
  float: left;
}

.about-profile-wrapper {
  padding: 10px;
  user-select: none;
}

.about-profile {
  display: block;
  border-radius: 5px;
  background-color: #ddd;
  border: solid 1px #1d1d1d;
  padding: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  margin-right: 10px;
  margin-bottom: 10px;
}

.about-body p:not(:last-child) {
  margin-bottom: 20px;
}

.about-name-nao {
  font-size: 1rem;
  font-weight: bold;
  margin: 5px;
  padding: 5px;
}

.about-detail-wrapper {
  display: block;
  margin-top: 30px;
}

.about-detail-layout {
  display: block;
  width: fit-content;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
  justify-content: center;
}

.about-project {
  text-align: left;
  color: white;
  display: inline-block;
  padding: 1px;
  flex-wrap: wrap;
  border-radius: 5px;
  background-color: #003366;
  border: solid 1px #1d1d1d;
  padding: 5px;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  margin-right: 5px;
  margin-bottom: 5px;
  width: fit-content;
  height: fit-content;
  user-select: none;
}

.about-period {
  text-align: left;
  color: white;
  display: inline-block;
  padding: 1px;
  flex-wrap: wrap;
  border-radius: 5px;
  background-color: #003366;
  border: solid 1px #1d1d1d;
  padding: 5px;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  margin-right: 5px;
  margin-bottom: 5px;
  width: fit-content;
  height: fit-content;
  user-select: none;
}

.about-language {
  text-align: left;
  color: white;
  display: inline-block;
  padding: 1px;
  flex-wrap: wrap;
  border-radius: 5px;
  background-color: #003366;
  border: solid 1px #1d1d1d;
  padding: 5px;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  margin-right: 5px;
  margin-bottom: 5px;
  width: fit-content;
  height: fit-content;
  user-select: none;
}

/*--------------------------------
 Skill
---------------------------------*/
.skill-section .inner {
  max-width: 1000px;
  text-align: center;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -50px;
}

/* .skill-item {
  flex: 0 0 46%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
} */

/* .skill-image{
height: 10px;
width: 10px;
} */

.skill-item-image {
  overflow: hidden;
  transition: 0.3s;
  transform: rotateY(0deg);
}

.skill-item-image img {
  transition: 0.3s;
}

.skill-item-image :hover {
  transition: 0.3s;
  transform: scale(1.2, 1.2);
}

.skill-image-ul {
  width: auto;
}

.skill-image-li {
  display: list-item;
  margin-right: auto;
}

.skill-description-wrapper {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.skill-discription {
  flex-wrap: wrap;
  display: block;
  border-radius: 5px;
  background-color: #ddd;
  border: solid 1px #1d1d1d;
  padding: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  margin-right: 10px;
  margin-bottom: 10px;
  width: fit-content;
  height: fit-content;
  /* margin-right: auto;
  margin-left: auto; */
  user-select: none;
}

.skill-image-div {
  text-align: left;
  display: inline-block;
  padding: 1px;
  flex-wrap: wrap;
  /* font-weight: bold; */
  border-radius: 5px;
  background-color: #003366;
  border: solid 1px #1d1d1d;
  padding: 5px;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  margin-right: 5px;
  margin-bottom: 5px;
  width: fit-content;
  height: fit-content;
  user-select: none;
}

.skill-stack-software {
  /* font-weight: bold; */
  color: white;
}

.skill-image-wrapper img {
  width: 80px;
  height: 80px;
}

.skill-image-wrapper {
  flex: 0 0 60px;
  margin-right: 20px;
}

.skill-body {
  flex: 1;
}

.skill-body p:not(:last-child) {
  margin-bottom: 20px;
}

.skill-title {
  margin-bottom: 3px;
}

.rate {
  position: relative;
  font-size: 16px;
  display: inline-block;
  width: 100%;
  height: 20px;
  letter-spacing: .3em;
}

.rate:before,
.rate:after {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  display: inline-block;
  height: 20px;
  content: "★★★★★";
}

.rate:before {
  color: #ddd;
}

.rate:after {
  overflow: hidden;
  white-space: nowrap;
  color: #f181b4;
}

.rate1:after {
  width: 20px;
}

.rate2:after {
  width: 40px;
}

.rate3:after {
  width: 60px;
}

.rate4:after {
  width: 80px;
}

.rate5:after {
  width: 100px;
}

/*--------------------------------
 Contact
---------------------------------*/
.contact-list {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-item {
  width: 50px;
  margin: 0 20px;
  text-align: center;
}

.contact-item img {
  width: 350px;
  transition: 1.0s;
  transform: rotateY(0deg);
}

.contact-item:hover img {
  transform: rotateY(180deg);
}

.contact-text {
  margin-top: 10px;
  text-align: center;
}

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  background-color: #1d1d1d;
}

.footer .inner {
  padding: 7px;
  display: block;
  position: relative;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #8c8c8c;
}

.page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 15px;
  padding: 10px;
  margin: 4px;
  color: #1d1d1d;
  font-weight: bold;
}

.page-top a {
  background: #b3e1ff;
  text-decoration: none;
  color: #b3e1ff;
  width: 100px;
  padding: 30px 0;
  text-align: center;
  display: block;
  border-radius: 5px;
}

.page-top a:hover {
  text-decoration: none;
  background: #b3e1ff;
}

.loader-wrap {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 1;
  user-select: none;
}

.loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #fff;
  z-index: 2;
}

.loaderimg {
  width: 90px;
  height: 90px;
  animation: load 2s linear infinite;
}

@keyframes load {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeUpTrigger {
  opacity: 0;
}

/* .page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #3f98ef;
  opacity: 0.6;
}
.page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
.page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
} */

/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 900px) {
  body {
    font-size: 13px;
    line-height: 1.7;
  }

  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }

  .hover-action {
    -webkit-transition: none;
    transition: none;
  }

  .hover-action:hover {
    -webkit-transition: none;
    transition: none;
    -webkit-transform: none;
    transform: none;
  }

  /* 文字 */
  .section-heading {
    margin-bottom: 20px;
    user-select: none;
  }

  .heading-primary {
    font-size: 22px;
    user-select: none;
  }

  .discription-headding {
    font-size: 22px;
    user-select: none;
  }

  /* レイアウト */
  .wrapper {
    padding-top: 0;
  }

  .section {
    padding: 60px 0;
  }

  .section .inner {
    padding: 0 15px;
  }

  /* ヘッダー */
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .parallax-bg {
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  #datetime {
    display: none;
  }

  .logo-title {
    font-size: 60px;
    letter-spacing: .16em;
  }

  .logo-subtitle {
    font-size: 15px;
  }

  /* グローバルナビ */
  .gnav {
    padding: 15px 0;
  }

  .gnav-item {
    font-size: 13px;
    padding: 2px 15px;
  }

  .gnav-link {
    padding: 0;
  }

  .gnav-link:hover {
    opacity: 1;
  }

  .gnav-link:after {
    display: none;
  }

  /* Works */
  .works-body {
    text-align: left;
  }

  .works-title {
    font-size: 10px;
  }

  .works-list {
    justify-content: space-between;
  }

  .works-item {
    flex: 0 0 48%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  /* Feature */
  .feature-item {
    display: block;
  }

  .feature-image-wrapper {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  /* About */
  /* .about-item {
    display: block;
  } */

  .about-image-wrapper {
    width: 100px;
    max-width: 100%;
    margin: 0 auto 20px;
  }

  .about-image-layout {
    margin: 20px;
    padding: 20px;
    /* width: fit-content;
    height: fit-content; */
  }

  .about-image {
    height: auto;
    width: auto;
  }

  .about-body {
    min-width: fit-content;
  }

  /* .about-image-layout img {
    transition: 1.0s;
    transform: rotateY(0deg);
  }

  .about-image-layout :hover img {
    transition: 1.0s;
    transform: rotateY(100deg);
  } */

  .about-image-content{
    height: 700p
  }

  /* Skill */
  .skill-list {
    display: block;
    margin-bottom: 0;
  }

  .skill-item {
    max-width: 100%;
    margin-bottom: 35px;
  }

  .skill-item:last-child {
    margin-bottom: 0;
  }

  .skill-image-wrapper {
    flex: 0 0 75px;
    margin-right: 15px;
  }

  .rate {
    font-size: 15px;
    height: 15px;
  }

  .rate:before,
  .rate:after {
    line-height: 15px;
    height: 15px;
  }

  .rate1:after {
    width: 15px;
  }

  .rate2:after {
    width: 35px;
  }

  .rate3:after {
    width: 55px;
  }

  .rate4:after {
    width: 75px;
  }

  .rate5:after {
    width: 95px;
  }

  /* Contact */
  .contact-item {
    width: 40px;
    margin: 0 10px;
  }

  /* フッター */
  /* .footer .inner {
    padding: 10px 0;
  } */
  .page-top-capital {
    display: none;
  }

  .loaderimg {
    width: 50px;
    height: 50px;
    animation: load 2s linear infinite;
  }
}