*,
*:before,
*:after {
  box-sizing: border-box;
}

@font-face {
  font-family: "SoukouMincho";
  /* font-family: "SoukouMincho"; */
  /* src: url(../font/SoukouMincho.ttf); */
  src: url(../font/SourceHanSerif-Regular.otf);
  /* src: url(../font/Togalite-Heavy.otf); */
}

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
  "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic,
  "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: .8px;
  word-break: break-all;
  color: #333;
}

a {
  text-decoration: none;
  /* color: #1ca9e3; */
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

ul,
li {
  list-style: none;
  display: inline;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

.hover-action {
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
}

.hover-action:hover {
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: translate(0, -4px);
  transform: translate(0, -4px);
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .12);
}

.caption {
  position:absolute;
  left:0;
  top:0;
  display:none;
  color:#fff;
  padding:10px;
  width:130px;
  height:130px;
  text-align:center;
}

.skill-content {
  position:relative;
  background:#ddd;
  margin:20px auto;
  width:150px;
  height:150px;
  overflow:hidden;
}

/*--------------------------------
 文字
---------------------------------*/
.heading-primary {
  font-family: "Open sans", sans-serif;
  font-size: 40px;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 15px;
  letter-spacing: .05em;
  text-shadow: 1px 2px 3px #808080;
}
.bold-text {
  font-weight: bold;
}
.section-heading {
  margin-bottom: 20px;
  text-align: center;
}

.column-list-item{
display: list-item;
}
.description-header {
  margin: 10px;
  text-align: center;
}

.discription-headding {
  /* font-family: "Open sans", sans-serif; */
  /* font-size: 40px; */
  font-weight: normal;
  line-height: 1;
  margin-bottom: 15px;
  letter-spacing: .05em;
  margin: 20px;
  padding: 5px;
}

.section-lead {
  margin-bottom: 30px;
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

/*--------------------------------
 レイアウト
---------------------------------*/
.wrapper {
  /* padding-top: 68px; */
}

.section {
  padding: 120px 0;
}

.section:nth-of-type(odd) {
  background-color: #f7f7f7;
}

.inner {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 40px;
}

/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  /* background-image: url(https://i.imgur.com/GCJRhiA.png); */
  /* background-color: black; */
  padding-top: 40px;
}

.parallax-bg{
  background-image:url('../img/feature/IMG_20210707_055641.jpg');
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

.logo {
  position: relative;
  margin-bottom: 30px;
  padding: 0 20px;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.25);
}

.logo-title {
  text-align: left;
  color:#bc8f8f;
  font-family: "SoukouMincho","Open sans", sans-serif;
  font-size: 150px;
  line-height: 1;
  letter-spacing: .2em;
  text-shadow: 4px 5px 6px #333;
}

.logo-subtitle {
  text-align: left;
  color:#fff;
  font-size: 40px;
  margin-top: 5px;
  text-align: center;
  letter-spacing: .2em;
  text-shadow: 4px 5px 6px #808080;
}

.logo-gnav-container{
  display: flex;
}

/*--------------------------------
 グローバルナビ
---------------------------------*/
.gnav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color:crimson;
  -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
  opacity: 0.9;
}

.gnav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gnav-item {
  font-family: "Open sans", sans-serif;
  font-size: 18px;
  padding: 0 24px;
  letter-spacing: .05em;
}

.gnav-item :hover{
  color:aqua;
}

.gnav-link {
  position: relative;
  display: inline-block;
  padding: 20px 0;
  -webkit-transition: .3s;
  transition: .3s;
  color: #333;
}

.gnav-link:hover {
  opacity: 1;
}

.gnav-link:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  content: "";
  transition: .3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #333;
}

.gnav-link:hover:after {
  width: 100%;
}

/* iOS対策 */
.ios .gnav-link:after,
.ios .gnav-link:hover:after {
  display: none;
}

/*--------------------------------
 Works
---------------------------------*/
.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -40px;
}

.works-item {
  flex: 0 0 32.31552%;
  margin-right: 1.52671%;
  margin-bottom: 40px;
  height: fit-content;
  width: fit-content;
}

/* .works-url-link{
  background-color: #00bcd4;
  color: whitesmoke;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-weight: bold;
} */
/* 
.works-url-link :hover{
  background-color: #00bcd4;
  color: whitesmoke;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-weight: bold;
} */

.works-url-link {
  display: inline-block;
  text-decoration: none;
  color: #668ad8;
  width: 50px;
  height: 50px;
  /* line-height: 120px; */
  border-radius: 50%;
  border: solid 2px #668ad8;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  transition: .4s;
}

.works-url-link:hover {
  background: #b3e1ff;
}

.works-item:nth-of-type(3n) {
  margin-right: 0;
}

.works-body {
  text-align: center;
}

.works-title {
  font-size: 12px;
  font-weight: bold;
  margin-top: 8px;
}

.works-text {
  font-size: 10px;
}

.works-url {
  font-size: 10px;
}

.works-image.fadein {
  -webkit-transition: 1.5s;
  transition: 1.5s;
  opacity: 0;
}

.works-image.fadein.lazyloaded {
  opacity: 1;
}

/*--------------------------------
 Feature
---------------------------------*/
.feature-item {
  display: flex;
  flex-wrap: wrap;
}

.feature-image-wrapper {
  flex: 0 0 45%;
  margin-right: 40px;
}

.feature-body {
  flex: 1;
}

.feature-body p:not(:last-child) {
  margin-bottom: 20px;
}

/*--------------------------------
 About
---------------------------------*/
.about-section .inner {
  max-width: 1000px;
}

.heading-primary img{
  height: 35px;
  width: 35px;
}

.about-name{
text-align: center;
}

.about-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-image-wrapper {
  flex: 0 0 220px;
  margin-right: 20px;
  margin-left: auto;
}

.about-image {
  border-radius: 50%;
  box-shadow: 0 0 25px 0 #d9d9d9;
  display:block;
  margin-right: auto;
  margin-left: auto;
}

.about-image-layout{
 display: block; 
}

.about-image-content{
  display: block;
  border: solid 1px #ddd;
  height: 390px;
  width: 240px;
  padding: 5px;
  border-radius: 5px;
}

.about-body {
  flex: 1;
  display: block;
  border-radius: 5px;
  /* background-color:#ddd; */
  border: solid 1px #d9d9d9;
  padding: 10px;
  /* box-shadow: 0 0 10px rgb(0 0 0 / 20%); */
  /* margin-right: 10px; */
  /* margin-bottom: 10px; */
}

.about-profile-wrapper{
  padding: 10px;
}

.about-profile {
  display: block;
  border-radius: 5px;
  background-color:#ddd;
  border: solid 1px #1d1d1d;
  padding: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  margin-right: 10px;
  margin-bottom: 10px;
}

.about-body p:not(:last-child) {
  margin-bottom: 20px;
}

.carrer-contet-wrapper{
  padding: 10px;
  padding-bottom: 20px;
}

.career-content{
  display: block;
  border-radius: 5px;
  background-color:#ddd;
  border: solid 1px #1d1d1d;
  padding: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  margin-right: 10px;
  margin-bottom: 10px;
}

.about-name-nao{
  font-size: 1rem;
  font-weight: bold;
}

.about-detail-wrapper{
  display: block;
}

.about-detail-layout{
  display: block;
  margin-left: 30px;
}

.about-detail{
  float: left;
}

/*--------------------------------
 Skill
---------------------------------*/
.skill-section .inner {
  max-width: 1000px;
  text-align: center;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -50px;
}

/* .skill-item {
  flex: 0 0 46%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
} */

/* .skill-image{
  float:inline-start;
  box-sizing: border-box;
} */

.skill-item-image {
  overflow: hidden;
  transition: 1.0s;
  transform: rotateY(0deg );
}

.skill-item-image img{
  transition: 1.0s;
}

.skill-item-image :hover {
    transition: 1.0s;
    transform: scale(1.5,1.5);
}

.skill-image-ul{
  width: auto;
}

.skill-image-li{
display: list-item;
margin-right: auto;
}

.skill-description-wrapper{
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.skill-discription{
  flex-wrap: wrap;
  /* font-weight: bold; */
  display: block;
  border-radius: 5px;
  background-color:#ddd;
  border: solid 1px #1d1d1d;
  padding: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  margin-right: 10px;
  margin-bottom: 10px;
  width: fit-content;
  height: fit-content;
  margin-right: auto;
  margin-left: auto;
}

.skill-image-div{
text-align: left;
display: flex;
padding: 1px;
}

.skill-stack-software{
  font-weight: bold ;
}

.skill-image-wrapper img {
  width: 80px;
  height: 80px;
}

.skill-image-wrapper {
  flex: 0 0 60px;
  margin-right: 20px;
}

.skill-body {
  flex: 1;
}

.skill-body p:not(:last-child) {
  margin-bottom: 20px;
}

.skill-title {
  margin-bottom: 3px;
}

.rate {
  position: relative;
  font-size: 16px;
  display: inline-block;
  width: 100%;
  height: 20px;
  letter-spacing: .3em;
}

.rate:before,
.rate:after {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  display: inline-block;
  height: 20px;
  content: "★★★★★";
}

.rate:before {
  color: #ddd;
}

.rate:after {
  overflow: hidden;
  white-space: nowrap;
  color: #f181b4;
}

.rate1:after {
  width: 20px;
}

.rate2:after {
  width: 40px;
}

.rate3:after {
  width: 60px;
}

.rate4:after {
  width: 80px;
}

.rate5:after {
  width: 100px;
}

/*--------------------------------
 Contact
---------------------------------*/
.contact-list {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-item {
  width: 50px;
  margin: 0 20px;
  text-align: center;
}

.contact-item img {
    width: 350px;
    transition: 1.0s;
    transform: rotateY(0deg );
}
.contact-item:hover img {
    transform: rotateY( 180deg );
}

.contact-text {
  margin-top: 10px;
  text-align: center;
}

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  background-color: #1d1d1d;
}

.footer .inner {
  padding: 10px;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #8c8c8c;
}

/* .page-top {
  font-size: 12px;
  font-weight: bold;
  display: block;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #3f98ef;
  transition: 4s;
  color: #1d1d1d;
}
.page-top-icon{
  height: 50px;
  width: 50px;
} */

.page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 15px;
  padding: 10px;
  margin: 4px;
  /* background:#b3e1ff; */
  color: #1d1d1d;
  font-weight: bold;
}

.page-top a {
  background: #b3e1ff;
  text-decoration: none;
  color: #b3e1ff;
  width: 100px;
  padding: 30px 0;
  text-align: center;
  display: block;
  border-radius: 5px;
}

.page-top a:hover {
  text-decoration: none;
  background: #b3e1ff;
}

/* .page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #3f98ef;
  opacity: 0.6;
}
.page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
.page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
} */

/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 13px;
    line-height: 1.7;
  }

  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }

  .hover-action {
    -webkit-transition: none;
    transition: none;
  }

  .hover-action:hover {
    -webkit-transition: none;
    transition: none;
    -webkit-transform: none;
    transform: none;
  }

  /* 文字 */
  .section-heading {
    margin-bottom: 20px;
  }

  .heading-primary {
    font-size: 22px;
  }
  .discription-headding {
    font-size: 22px;
  }

  /* レイアウト */
  .wrapper {
    padding-top: 82px;
  }

  .section {
    padding: 60px 0;
  }

  .section .inner {
    padding: 0 15px;
  }

  /* ヘッダー */
  .header {
    height: 90vh;
  }

  .logo-title {
    font-size: 50px;
    letter-spacing: .16em;
  }

  .logo-subtitle {
    font-size: 20px;
  }

  /* グローバルナビ */
  .gnav {
    padding: 15px 0;
  }

  .gnav-item {
    font-size: 13px;
    padding: 2px 15px;
  }

  .gnav-link {
    padding: 0;
  }

  .gnav-link:hover {
    opacity: 1;
  }

  .gnav-link:after {
    display: none;
  }

  /* Works */
  .works-body {
    text-align: left;
  }

  .works-title {
    font-size: 10px;
  }

  .works-list {
    justify-content: space-between;
  }

  .works-item {
    flex: 0 0 48%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  /* Feature */
  .feature-item {
    display: block;
  }

  .feature-image-wrapper {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  /* About */
  /* .about-item {
    display: block;
  } */

  .about-image-wrapper {
    width: 100px;
    max-width: 100%;
    margin: 0 auto 20px;
  }

  .about-image-layout {
    margin: 30px;
    padding: 20px;
    width:fit-content;
  }

  /* .about-image-layout img {
    transition: 1.0s;
    transform: rotateY(0deg);
  }

  .about-image-layout :hover img {
    transition: 1.0s;
    transform: rotateY(100deg);
  } */

  /* .about-image-content{
    height: 700p
  } */

  /* Skill */
  .skill-list {
    display: block;
    margin-bottom: 0;
  }

  .skill-item {
    max-width: 100%;
    margin-bottom: 35px;
  }

  .skill-item:last-child {
    margin-bottom: 0;
  }

  .skill-image-wrapper {
    flex: 0 0 75px;
    margin-right: 15px;
  }

  .rate {
    font-size: 15px;
    height: 15px;
  }

  .rate:before,
  .rate:after {
    line-height: 15px;
    height: 15px;
  }

  .rate1:after {
    width: 15px;
  }

  .rate2:after {
    width: 35px;
  }

  .rate3:after {
    width: 55px;
  }

  .rate4:after {
    width: 75px;
  }

  .rate5:after {
    width: 95px;
  }

  /* Contact */
  .contact-item {
    width: 40px;
    margin: 0 10px;
  }

  /* フッター */
  .footer .inner {
    padding: 10px 0;
  }
}
